/.gradle/
/.idea/
/application/build
/application/node_modules
/application/package-lock.json
/application/package.json
/application/src/main/bundles/
/application/src/main/frontend/generated/
/application/tsconfig.json
/application/types.d.ts
/application/vite.config.ts
/application/vite.generated.ts
/datamodel/build/
/logs/
/tarkov-api/build/